<!DOCTYPE html>
<html>
<head><link rel="shortcut icon" href="#" />
<title>Analysis</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Scrutiny Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free Webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<link href="/static/assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/assets/css/style.css" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- /static/assets/js -->
<script src="/static/assets/js/jquery-1.11.1.min.js"></script>
<!-- ///static/assets/js -->
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--animate-->
<link href="/static/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!--services-->
	<div class="welcome services" id="services">
		<div class="container">
			<h3 class="title wow fadeInDown animated" data-wow-delay=".5s">You can see them</h3>
			<div class="services-info">
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="service">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-book"></span>
						</div>
						<a href="/comment"><h4 class="heading">视频评论数据分布</h4></a>
						<p class="text">在这里，你能看见视频的评论数据分布</p>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="service">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-education"></span>
						</div>
						<a href="/view"><h4 class="heading">视频的播放数据分布</h4></a>
						<p class="text">在这里，你能看见视频的播放数据分布</p>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="service">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<a href="/share"><h4 class="heading">观众最乐意传播的十大视频</h4></a>
						<p class="text">在这里，你能看见分享量前十的视频信息</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//services-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/bootstrap.js"></script>
</body>
</html>