<!DOCTYPE html>
<html>
<head><link rel="shortcut icon" href="#" />
<title>Home</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Scrutiny Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free Webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<link href="/static/assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/assets/css/style.css" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- /static/assets/js -->
<script src="/static/assets/js/jquery-1.11.1.min.js"></script>
<!-- ///static/assets/js -->
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--animate-->
<link href="/static/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!--banner-->
	<div  id="home" class="banner">
		<div class="banner-info">
			<div class="banner-top">
				<div class="container">
					<div class="col-md-6 banner-top-left wow slideInDown animated" data-wow-delay=".5s">
						<ul class="social-icons">
							<li><a href="#"> </a></li>
							<li><a href="#" class="fb"> </a></li>
							<li><a href="#" class="in"> </a></li>
							<li><a href="#" class="dott"> </a></li>
						</ul>
					</div>
					<div class="col-md-6 banner-top-right wow slideInDown animated" data-wow-delay=".5s">
						<p><span class="glyphicon glyphicon-earphone"></span> +86 180 8062 3585</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="banner-text">
				<h1 class="wow slideInLeft animated" data-wow-delay=".5s"><a href="index.html">数据分析</a></h1>
				<p class="wow slideInRight animated" data-wow-delay=".5s">关于新华社最新的300条视频 </p>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!--services-->
	<div class="welcome services" id="services">
		<div class="container">
			<h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Menu</h3>
			<div class="services-info">
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="service">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-book"></span>
						</div>
						<a href="/list"><h4 class="heading">视频清单</h4></a>
						<p class="text">这里有新华社最新的三百条视频的清单</p>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="service">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-education"></span>
						</div>
						<a href="/analysis"><h4 class="heading">视频各项数据分布</h4></a>
						<p class="text">在这里，你能看见视频的各项数据分布</p>
					</div>
				</div>
				<div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
					<div class="service">
						<div class="icon-holder">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</div>
						<a href="/word"><h4 class="heading">词云图</h4></a>
						<p class="text">在这里，你能看见最经常出现的视频相关词汇是哪些</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//services-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/bootstrap.js"></script>
</body>
</html>
