<<!DOCTYPE html>
<html lang="en">
<head><link rel="shortcut icon" href="#" />
    <title>View</title>
	<script src="/static/assets/js/echarts.min.js"></script>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Scrutiny Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free Webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<link href="/static/assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/assets/css/style.css" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- /static/assets/js -->
<script src="/static/assets/js/jquery-1.11.1.min.js"></script>
<!-- ///static/assets/js -->
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--animate-->
<link href="/static/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!--services-->
	<div class="welcome services" id="services">
		<div class="container">
			<h3 class="title wow fadeInDown animated" data-wow-delay=".5s">播放数量分析</h3>
			<div class="services-info">
				 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    			<div id="main" style="width: 1150px;height:600px;"></div>
				<script type="text/javascript">
					// 基于准备好的dom，初始化echarts实例
					var myChart = echarts.init(document.getElementById('main'));
						var option = {
						  tooltip: {
							trigger: 'item'
						  },
						  legend: {
							top: '5%',
							left: 'center'
						  },
						  series: [
							{
							  name: '播放数据',
							  type: 'pie',
							  radius: ['40%', '70%'],
							  avoidLabelOverlap: false,
							  itemStyle: {
								borderRadius: 10,
								borderColor: 'white',
								borderWidth: 2
							  },
							  label: {
								show: false,
								position: 'center'
							  },
							  emphasis: {
								label: {
								  show: true,
								  fontSize: '40',
								  fontWeight: 'bold'
								}
							  },
							  labelLine: {
								show: false
							  },
							  data: [
								{value: {{datalist[0]}}, name: '播放量10万以下'},
								{value: {{datalist[1]}}, name: '播放量10万至30万'},
								{value: {{datalist[2]}}, name: '播放量30万至50万'},
								{value: {{datalist[3]}}, name: '播放量50万至100万'},
								{value: {{datalist[4]}}, name: '播放量100万以上'}
							  ]
							}
						  ]
						};
					// 使用刚指定的配置项和数据显示图表。
					myChart.setOption(option);
				</script>
			</div>
		</div>
	</div>

</body>
</html>
